# Database Configuration
MONGODB_URI=mongodb+srv://kmmelissat:ZblMylU93aSHT0W1@logitrack.bb4l1hb.mongodb.net/?retryWrites=true&w=majority&appName=logitrack


# JWT Configuration
JWT_SECRET=logitracksecret
JWT_EXPIRATION=1d


GOOGLE_CLIENT_ID=758010332680-vdc8oasnmq1brdg6e6t05p77j50hntlr.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/redirect

# Application Configuration
PORT=3000
NODE_ENV=development 

# Google Maps API Configuration
GOOGLE_MAPS_API_KEY=AIzaSyAV3T2zRnfqZtUrZ5tWAU2v35TEViWDUko
